<div *ngIf="error != ''" class="error">
	<h1>{{error}}</h1>
</div>

<div class="container" *ngIf="!error">
	<div *ngFor="let key of keys" class="news-item" [routerLink]="['/news', key]">
		<div [ngStyle]= "{'background':'url(' + news[key].img + ') 50% 50% / cover'}" class="photo"></div>
		<h2>{{ news[key].title }}</h2>	
		{{ news[key].text }}
	</div>
</div>