<div *ngIf="error != ''" class="error">
	<h1>{{error}}</h1>
</div>

<div *ngIf="!error" class="container">
	<div [ngStyle]= "{'background':'url(' + news.img + ') 50% 50% / cover'}" class="photo"></div>
	<h2>{{ news.title }}</h2>	
	{{ news.text }}
</div>