<div class="content">
	<h1>Добро пожаловать!</h1>
	<p>Сайт просмотра и добавления новостей приветствует вас!</p>
	<img src="http://cdn.fishki.net/upload/post/2016/05/06/1943278/d89e2a91d9932fef64ac532f756cbd06.jpg">	
</div>
