<nav>
	<a [routerLink]="['/']">
    Home
  </a>
  |
	<a [routerLink]="['/news']">
    List of news
  </a>
  |
	<a [routerLink]="['/news', 'add']">
    Add news
  </a>
</nav>

<main>
	<router-outlet></router-outlet>
</main>
