<h2>Add news Form</h2>

<form (ngSubmit)="submitForm()" [formGroup]="contactForm" novalidate>
  <div class="form-content">
    <label>
      Name:
      <input type="text" formControlName="title" class="sd-form-control" placeholder="Enter name of news.">
    </label>
    <label>
      Image URL:
      <input type="text" formControlName="img" class="sd-form-control" placeholder="Enter image of news.">
    </label>
    <label>
      Content:
      <textarea formControlName="text" class="sd-form-control" placeholder="Enter text of news"></textarea>
    </label>
    <div class="form-submit">
      <button type="submit" id="news-submit">Submit</button>
    </div>
  </div>
</form>